// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$black: #21243d;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$green2: rgb(11, 98, 67);
$gray: #8C92AC;
$light-gray: #F4F4F4;
$navbar-orange: #F79862;
$white: #FFFFFF;
$white-card: #F7F8FA;
$white-mp: rgb(214, 212, 212);
$camera: rgb(74, 74, 206);
$bitter: #ffebe0;
$zomp: #ebffe5;
