<div class="footer">
  <div class="footer-links">
    <%= cl_image_tag( "junya", width: 50, heigth: 50, crop: :fill, class: "navbar-photo") %>
    <%= cl_image_tag( "tj", width: 50, heigth: 50, crop: :fill, class: "navbar-photo") %>
    <%= cl_image_tag( "sho", width: 50, heigth: 50, crop: :fill, class: "navbar-photo") %>
    <%= cl_image_tag( "antonio", width: 50, heigth: 50, crop: :fill, class: "navbar-photo") %>
  </div>
  <div class="footer-copyright">
    Made by four magnificent people
  </div>
</div>

