<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4" id="pet-rating">
      <div class="form-rating">
        <%= simple_form_for [@pet, @rating] do |f| %>
          <%= f.input :stars, collection: (1..5).to_a, label: "Rate your experience" %>
          <%= f.input :comments, label: "Please add comments about this dog", hint: "The dog was compatible with my dog" %>
          <%= f.submit "Rate Pet", class: "button-chat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>