.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 12px;

    .card-category {
      position: relative;
      // width: 200px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      background: $navbar-orange;
      opacity: 0.7;
        .tab-avatar-friend {
          position: absolute;
          top: -25px;
          left: -25px;
        }
        .tab-avatar-pet {
          position: absolute;
          top: -20px;
          left: 70px;
        }
        .tab-button-reject {
          position: absolute;
          top: 0px;
          left: 175px;
        }
        .tab-button-chat {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          height: 100%;
          padding-bottom: 8px;

            span {
              padding-bottom: 16px;
            }
        }
    }
}

.card-product{
  margin: 16px;
  width: 420px;
  background: $white;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
}


.card-product-picture{
  position: relative;
  // border-radius: 10px;
  // height: 100vh;
    .picture-dog {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      transition: height 0.5s ease-out;
    }
    .card-product-value {
      position: absolute;
      bottom: 40px;
      right: 4px;
        p {
          font-size: 32px;
          color: white;
          background-color: rgba(11, 98, 67, 0.8);
          padding: 4px 16px;
          border-radius: 4px;
        }
    }
    .dog-rating {
      display: flex;
      position: absolute;
      bottom: 0px;
      left: 0px;
      font-size: 26px;
      background-color: white;
      width: 100%;
      padding-top: 8px;
      align-items: center;
        .fas {
          color:$green2;
          margin-left: 4px;
          font-size: 22px;
          transform: rotate(135deg);
        }
        .boni {
          color:$navbar-orange;
          opacity: 0.3;
          margin-left: 4px;
          font-size: 22px;
          transform: rotate(135deg);
        }
        span {
          margin-left: 4px;
          font-size: 20px;
          color: grey;
          margin-bottom: 16px;
        }
    }
    .card-product-picture-info-name {
       position: absolute;
       bottom: 40px;
       left: 4px;
        p {
          font-size: 32px;
          color: white;
          background-color: rgba(11, 98, 67, 0.8);
          padding: 4px 16px;
          border-radius: 4px;
        }
    }
}

.card-information-dog {
  background-color: white;
  margin-top: -17px;
  height: 0px;
  transition: height 0.5s ease-out;
   .card-information-dog-namenbreed {
      display: block;
      justify-content: space-around;
      margin-top: 16px;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 18px;
      /* color: white; */
      /* color: rgba(11, 98, 67, 0.8); */
      padding: 4px 16px;
      border-radius: 4px;
    }

    i {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 18px;
      /* color: white; */
      /* color: rgba(11, 98, 67, 0.8); */
      padding: 4px 16px;
      border-radius: 4px;
    }
    .card-information-dog-persnpref {
      margin-left: 16px;
      .card-information-dog-personalities {
        strong {
          border-bottom: 1px solid;
        }
      }
      .card-information-dog-preferences {
        strong {
          border-bottom: 1px solid;
        }
      }
    }
    .card-information-dog-description {
      margin-left: 16px;
      padding-bottom: 20px;
      strong {
          border-bottom: 1px solid;
        }
    }
}

.back-to-home-button a {
  text-decoration: none;
  color: $black;
  background-color: $black;
}

// .card-information-dog {
//     height: 0px;
//     transition: height 0.5s ease-out;
//   }
// expanded card info

.photo-slideshow {
  height: 100vh !important;
  transition: height 0.5s ease-out;
}
.swiper-wrapper {
  z-index: -1 !important;
}

.swiper-slide {
  overflow: hidden;
}

body.non-scroll {
  height: 100vh;
  overflow: hidden;
}

body.expanded {
  overflow: unset;
  height: unset;
  .navbar {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  .swiper-wrapper {
    height: unset !important;
  }

  .photo-slideshow, .picture-dog {
    height: 70vh !important;
  }

  .card-information-dog {
    background-color: white;
    margin-top: -17px;
    height: 100%;
  }

  // .first-reviews-rating {
  //   border-top: 2px groove black;
  //   margin-right: 16px;
  // }
  .remaining-reviews {
    .fas {
      color:$green2;
      margin-left: 4px;
      transform: rotate(135deg);
    }
    .boni {
      color:$navbar-orange;
      opacity: 0.3;
      transform: rotate(135deg);
    }
    i {
        font-size: 12px;
      }
      .remaining-reviwes-p {
        border-top: 2px groove black;
      }
  }
  .first-reviews {
    background-color: white;
      .first-reviews-p {
        border-top: 2px groove black;
        margin-right: 16px;
      }
      .fas {
        color:$green2;
        margin-left: 4px;
        transform: rotate(135deg);
      }
      .boni {
        color:$navbar-orange;
        opacity: 0.3;
        transform: rotate(135deg);
      }
      i {
        font-size: 12px;
      }
  }
}

.card-product-picture-info {
  // display: flex;
  // width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 50px;
  padding-bottom: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  // background: #00A699;
  opacity: 0.7;
}

.card-product-value, .card-product-picture-info-name, .dog-rating, .button-expand {
  z-index: 100;
}

.card-product-title {
  display: flex;
  flex-direction: column;
  background: $white;
  width: 100px;
  height: 70px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    p {
      margin: 0px;
    }
}


.card-product-type {
  display: flex;
  padding: 30px;
  justify-content: space-between;
    /* align-items: center; */
  text-align: center;
}
.card-product-personality {
  display: flex;
  flex-direction: column;
      width: 80%;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
}

.card-product-description {
  display: flex;
  padding: 30px;
      justify-content: space-between;
    /* align-items: center; */
    text-align: center;

}

.card-product-des {
  width: 80%;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
}
.card-product-div{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.card-dog-big {
  background: $white;
  // width: 170px;
  height: 400px;
  border-radius: 12px;
  padding: 8px;
  .card-dog {
    background: $white-card;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    .card-dog-user {
      display: flex;
    /* justify-content: space-between; */
      align-items: center;
      background: $white;
      border-radius: 25px;
      height: 50px;
      width: 50%;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      // margin-top: 8px;
      margin: 0 auto;
      .card-dog-user-info {
        width: 100%;
        margin-left: 8px;
        text-align: center;

      }
        p {
          font-size: 16px;
        }
    }
      h5 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      .card-dog-dphoto {
        height: 50%;
        .avatar-pet {
          width: 100%;
          height: 100%;
          border-radius: 16px 16px 0 0;
          object-fit: cover;
        }
      }
  }
}

.remove {
  margin-right: 8px;
  color: $navbar-orange;
}

.tab-button-chat {
  text-align: center;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
   .button-chat {
    font-size: 16px;
    margin: 0 8px;
    width: 30%;
    flex: 100%;
   }
   .tab-button-chat-i {
      display: flex;
      // width: 30%;
      flex: 1;
        .fa-bone {
          transform: rotate(135deg);
        }
   }
}
.card-dog-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}
.card-dog-info-inside {
  background: $white;
  height: 30px;
  width: 40px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  color: $navbar-orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-info {
  display: flex;
  justify-content: space-between;
  padding: 8px 18px;
    p {
      font-size: 12px;
    }
}

.show-pet-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  margin: 0 8px;
    .show-pet-card-card {
      position: relative;
      background: $navbar-orange;
      border-radius: 16px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      padding: 2px;
      .show-pet-card-delete {
        position: absolute;
        bottom: 0;
        right: 8px;
          i {
            color: $green2;
            font-size: 20px;
          }
      }

    }
    .show-pet-card-images {
      border-radius: 16px;
      width: 100%;
    }
}
#pet_photos {
  transform: scale(0);

}

.show-all-reviews {
  margin-left: 16px;
  p {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
  }
}

.show-all-reviews strong {
  border-bottom: 1px solid;
}

.hidden {
  display: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .show-pet-card {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .show-pet-card-images {
    width: 118px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
