.mp-avatar-pet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // height: 360px;
    h3 {
      font-size: 64px;
      // padding-top: 8px;
    }
    p{
      font-size: 26px;
    }
}

.mp-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.mp-buttons2 {
  display: flex;
  justify-content: center;
}

.mp-weather {
  background-color: $white-mp;
  width: 100%;
  height: 100%;
}
.paw-photo {
  position: relative;
}
.button-camera-mp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
    i {
      color: $white;
      font-size: 64px;
    }
}
