.navbar {
  justify-content: space-between;
  background: $navbar-orange;
  transition: opacity 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-photo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-icon {
  color: $white;
  .fa-user:hover {
    color: rgb(80, 83, 99);
    // rgb(140, 145, 171);
  }
  .fa-comment-dots:hover {
    color: rgb(80, 83, 99);
  }
}

